h1,h2,h3,p,body{
    font-family:"Roboto";
    color: rgb(98, 105, 105);
}


  
body{
    background-color: rgb(207, 205, 205);
    margin: 0;
}
h2{
    padding-top: 20px;
    margin: 0px;
}

.listado{  /*para sacar viñetas de menu*/
  list-style-type: none;
}

.menu{
  
}

header{
  background-image: url("/Fedeteria_Horizontal.png");
  background-size: cover;
  background-position: center;
  padding: 6% 0;
  text-align: center;
}
footer {
    background-color: hsl(36, 82%, 58%);
    color: #ece6e6; 
    font-size: 14px;
    padding: 20px;
    text-align: center;
}







/*
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }*/
  
